.project {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px 50px 100px;
    border-top: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: all 0.2s;

    h2 {
        font-size: 45px;
        margin: 10px;
        font-weight: 400;
        transition: all 0.4s;
        flex: 0 0 50%; /* Occupe 50% de l'espace */
    ;
    }

    p {
        font-size: 20px;
        transition: all 0.4s;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        flex: 0 0 30%; /* Occupe 30% de l'espace */
    }

    &:last-of-type {
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    &:hover {
        opacity: 0.5;

        h2 {
            transform: translateX(-10px);
        }

        p {
            transform: translateX(10px);
        }
    }
}